.navigation {
  background-color: dodgerblue;
}

.active {
  background-color: darkblue;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: dodgerblue;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: blue;
}

li {
  float: left;
}

.login-box {
  position:absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  border-style: solid;
  max-width: 500px;
  width: 100%;
}

.input-box{
  padding: 3%
}

.login-box-title{
  text-align: center;
  background-color: cornflowerblue;
  padding: 3%
}

.error-message{
  color: red;
}

.rbbutton {
  margin-top: 10px;
  max-width: 250px;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  background-color: lightslategray;
  color: white;
  cursor: pointer;
}

.rbbutton:hover {
  margin-top: 10px;
  height: 40px;
  border-radius: 8px;
  background-color: lightgrey;
  color: darkslategray;
  border: 2px solid lightslategray;
}
