<div class="stockwinner-container container">

  <br>
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Shares</h2>
    </div>
  </div>

  <app-shares-form></app-shares-form>

  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Currencies</h2>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 align-content-center p-5 text-center">
        <ul class="list-group">
          <li class="list-group-item list-group-item-dark">
            <div class="row text-center">
              <div class="col-md-2">
                <strong>Currency name</strong>
              </div>
              <div class="col-md-3">
                <strong>Currency rate</strong>
              </div>
              <div class="col-md-3">
                <strong>Amount</strong>
              </div>
              <!--<div class="col-md-2">-->
                <!--<strong>Base Price</strong>-->
              <!--</div>-->
              <!--<div class="col-md-2">-->
                <!--<strong>Current rate</strong>-->
              <!--</div>-->
              <div class="col-md-4">
                <strong>Value</strong>
              </div>
            </div>
          </li>
        </ul>
        <ul class="list-group">
          <li *ngFor="let currency of currencies" class="list-group-item list-group-item-light">
            <div class="row text-center">
              <div class="col-md-2">
                {{currency.name}}
              </div>
              <div class="col-md-3">
                {{currency.rate | number : '1.2-4'}}
              </div>
              <div class="col-md-3">
                {{currency.amount | number : '1.2-4'}}
              </div>
              <!--<div class="col-md-2">-->
                <!--{{currency.base_price}}-->
              <!--</div>-->
              <!--<div class="col-md-2">-->
                <!--{{currency.current_price}}-->
              <!--</div>-->
              <div class="col-md-4">
                {{currency.value | number : '1.2-4'}}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
