<nav class="navigation">
  <div class="container">
    <ul>
      <li><a href="/start">Home</a></li>
      <li><a href="/login">Log in</a></li>
      <li><a class="active" href="/registration">Register</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="registration-form-container">
    <h1 class="registration-header">Join to Stock Winner Today!</h1>
    <form (ngSubmit)="postRegister()" class="registration-form-styled" #registrationForm="ngForm">
      <div class="form-group"><input type="email" class="form-control" placeholder="Email" required
                                     [(ngModel)]="model.email" name="email" #email="ngModel" ngModel [email]="true">

      </div>

      <div class="blocky"><input type="password" class="form-control" placeholder="Password" required
                                 [(ngModel)]="model.password" minlength="8" maxlength="20" name="password"
                                 #password="ngModel">

      </div>
      <button class="rbbutton" type="submit" [disabled]="!registrationForm.valid">
        Register
      </button>
    </form>
  </div>
</div>


